.feeling {
    text-align: center;
    margin-bottom: 60px;
}

/* remember to create flex container first */
.moods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.moods .happy, .sad, .meh, .angry {
border: 5px solid grey;
border-radius: 10px;
padding: 10px;
margin: 20px;
}

.happy img:hover {
    background: green;
    opacity: 0.6;
  }